/* You can add global styles to this file, and also import other style files */

html{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}